body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:722px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:30px;
  width:100px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:120px;
  top:140px;
  width:100px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:120px;
  top:250px;
  width:100px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:320px;
  top:250px;
  width:100px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:120px;
  top:360px;
  width:100px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:480px;
  top:360px;
  width:100px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:120px;
  top:480px;
  width:100px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:120px;
  top:620px;
  width:100px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:120px;
  top:720px;
  width:100px;
  height:60px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:170px;
  top:90px;
  width:0px;
  height:50px;
}
#u18_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u19 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:170px;
  top:200px;
  width:0px;
  height:50px;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u21 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:220px;
  top:280px;
  width:100px;
  height:0px;
}
#u22_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:114px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:170px;
  top:310px;
  width:0px;
  height:50px;
}
#u24_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u25 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:370px;
  top:310px;
  width:-200px;
  height:50px;
}
#u26_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:54px;
}
#u26_seg1 {
  position:absolute;
  left:-210px;
  top:30px;
  width:220px;
  height:20px;
}
#u26_seg2 {
  position:absolute;
  left:-210px;
  top:30px;
  width:20px;
  height:24px;
}
#u27 {
  position:absolute;
  left:-135px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:220px;
  top:390px;
  width:260px;
  height:0px;
}
#u28_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:274px;
  height:20px;
}
#u29 {
  position:absolute;
  left:80px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:170px;
  top:420px;
  width:0px;
  height:60px;
}
#u30_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u31 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:170px;
  top:540px;
  width:0px;
  height:80px;
}
#u32_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u33 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:170px;
  top:680px;
  width:0px;
  height:40px;
}
#u34_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:54px;
}
#u35 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:220px;
  top:650px;
  width:0px;
  height:-140px;
}
#u36_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u36_seg1 {
  position:absolute;
  left:70px;
  top:-150px;
  width:20px;
  height:160px;
}
#u36_seg2 {
  position:absolute;
  left:-4px;
  top:-150px;
  width:94px;
  height:20px;
}
#u37 {
  position:absolute;
  left:30px;
  top:-78px;
  width:100px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:120px;
  top:840px;
  width:100px;
  height:60px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:170px;
  top:780px;
  width:0px;
  height:60px;
}
#u40_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u41 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:530px;
  top:420px;
  width:-310px;
  height:450px;
}
#u42_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:464px;
}
#u42_seg1 {
  position:absolute;
  left:-314px;
  top:440px;
  width:324px;
  height:20px;
}
#u43 {
  position:absolute;
  left:-50px;
  top:372px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:497px;
  top:110px;
  width:225px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#666666;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:38px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:497px;
  top:53px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#666666;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
