body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:68px;
  width:650px;
  height:412px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:412px;
}
#u1 {
  position:absolute;
  left:2px;
  top:198px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:68px;
  width:650px;
  height:33px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:33px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:117px;
  top:76px;
  width:53px;
  height:16px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:726px;
  top:77px;
  width:14px;
  height:14px;
  opacity:0.4;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
  opacity:1;
}
#u7 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:202px;
  top:133px;
  width:59px;
  height:15px;
  font-size:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:279px;
  top:128px;
  width:190px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u11 {
  position:absolute;
  left:216px;
  top:175px;
  width:45px;
  height:15px;
  font-size:12px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:213px;
  top:248px;
  width:48px;
  height:15px;
  font-size:12px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:279px;
  top:248px;
  width:403px;
  height:145px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:145px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:204px;
  top:210px;
  width:57px;
  height:15px;
  font-size:12px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:279px;
  top:205px;
  width:190px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u19 {
  position:absolute;
  left:372px;
  top:420px;
  width:62px;
  height:31px;
  font-size:14px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:444px;
  top:428px;
  width:34px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#666666;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:279px;
  top:170px;
  width:190px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
