body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:68px;
  width:650px;
  height:332px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:332px;
}
#u1 {
  position:absolute;
  left:2px;
  top:158px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:68px;
  width:650px;
  height:33px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:33px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:117px;
  top:76px;
  width:53px;
  height:16px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:726px;
  top:77px;
  width:14px;
  height:14px;
  opacity:0.4;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
  opacity:1;
}
#u7 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:198px;
  top:131px;
  width:69px;
  height:15px;
  font-size:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:198px;
  top:166px;
}
#u10_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:35px;
  width:69px;
  height:15px;
  font-size:12px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:81px;
  top:30px;
  width:190px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u14 {
  position:absolute;
  left:81px;
  top:0px;
  width:49px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#666666;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
  opacity:0.7;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:5px;
  top:74px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:81px;
  top:69px;
  width:190px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u19 {
  position:absolute;
  left:292px;
  top:74px;
  width:49px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#666666;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
  opacity:0.7;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19_ann {
  position:absolute;
  left:334px;
  top:70px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:-1px;
  top:114px;
  width:72px;
  height:15px;
  font-size:12px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:15px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:81px;
  top:109px;
  width:190px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u23_ann {
  position:absolute;
  left:264px;
  top:105px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:81px;
  top:144px;
  width:323px;
  height:32px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u10_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u10_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:5px;
  top:18px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:81px;
  top:13px;
  width:190px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u29 {
  position:absolute;
  left:292px;
  top:18px;
  width:49px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#666666;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
  opacity:0.7;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u29_ann {
  position:absolute;
  left:334px;
  top:14px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:-1px;
  top:58px;
  width:72px;
  height:15px;
  font-size:12px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:15px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:81px;
  top:53px;
  width:190px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u33_ann {
  position:absolute;
  left:264px;
  top:49px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:81px;
  top:88px;
  width:323px;
  height:32px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:32px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:372px;
  top:349px;
  width:62px;
  height:31px;
  font-size:14px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
}
#u36_img.mouseOver {
}
#u36.mouseOver {
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:444px;
  top:357px;
  width:34px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#666666;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u38_img.mouseOver {
}
#u38.mouseOver {
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:277px;
  top:126px;
  width:153px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
